:root {
    --background: #444;
    --fontColor: #eee;
    --primary: #79aef3;
    --primaryFontColor: #444;
    --borderColor: #666;
    --borderColor-light: #888585;
    --thBackground: #2f2f2f;
    --thFontColor: #eee;
    --eventChildBG: #535353;
    --navBoxShadow: #666
  }
  
  html[data-theme=light] {
    --background: #eee;
    --fontColor: #444;
    --primary: #3d5a80;
    --primaryFontColor: #eee;
    --borderColor: #a8a8a8;
    --borderColor-light: #b8b8b8;
    --thBackground: #b5b5b5;
    --thFontColor: #eee;
    --eventChildBG: #d6d6d6;
    --navBoxShadow: #d0d0d0;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: var(--background);
    color: var(--fontColor);
  }
  
  button {
    border: none;
    padding: 0.25rem 0.5rem;
    background: var(--primary);
    color: var(--primaryFontColor);
    cursor: pointer;
    border-radius: 0.25rem;
    height: 2rem;
  }
  
  .rootElement {
    padding: 1rem;
  }
  
  a {
    color: var(--primary);
    text-decoration: none;
  }