:root {
  --background: #444;
  --fontColor: #eee;
  --primary: lightcoral;
  --primaryFontColor: #444;
  --borderColor: #666;
  --inputBorderColor: #888585;
  --thBackground: #191919;
  --thFontColor: #eee;
  --evenTrBg: #535353;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--fontColor);
}

button {
  border: none;
  padding: 0.25rem 0.5rem;
  background: var(--primary);
  color: var(--primaryFontColor);
  cursor: pointer;
  border-radius: 0.25rem;
  height: 2rem;
}

.rootElement {
  padding: 1rem;
}

a {
  color: var(--primary);
  text-decoration: none;
}