form.issuedLetterForm {
    display: flex;
    gap: 1rem;
}

.sidebar {
    width: 20rem;
    flex-shrink: 0;
    border: 1px solid var(--borderColor);
    padding: 1rem;
    border-radius: 0.5rem;
}

textarea#content {
    width: 49.625rem;
    height: 70.1875rem;
    flex-shrink: 0;
}

.issuedLetterForm .actionFooter {
    padding-top: 1rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: row-reverse;
}